{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
    <script src="{% static 'js/course.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/course.css' %}" />
    <style>
      body {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <center>
      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'student' %}">Students</a>
        <a href="{% url 'course' %}">Course</a>
        <a href="{% url 'marks' %}">Marks</a>
        <a href="{% url 'attendance' %}">Attendance</a>
      </nav>
      <h1>Course operations</h1>
      <div id="options">
        <button class="but" onclick="anp()">Add New Program</button><br />
        <button class="but" onclick="anc()">Add New Course</button><br />
        <button class="but" onclick="dp()">Delete a Program</button><br />
        <button class="but" onclick="dc()">Delete a Course</button><br />
        <button class="but" onclick="acs()">
          Assign the course to students</button
        ><br />
      </div>
    </center>
  </body>
</html>
