{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
  </head>
  <body>
    <center>
      <h1>Please login to continue</h1>
      <h2>{{msg}}</h2>
      <form method="post" action="{% url 'landing' %}">
        {% csrf_token %}
        <fieldset>
          <legend>Login</legend>
          <div id="grid">
            <div class="col1"><label for="uname">Username : </label></div>
            <div>
              <input
                class="col2"
                type="text"
                id="uname"
                name="uname"
                placeholder="Enter Username"
                required
              />
            </div>
            <div class="col1"><label for="password">Password : </label></div>
            <div>
              <input
                class="col2"
                type="password"
                id="password"
                name="password"
                placeholder="Enter Password"
                required
              />
            </div>
          </div>
          <input type="submit" />
        </fieldset>
      </form>
    </center>
  </body>
</html>
