{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
    <link rel="stylesheet" href="{% static 'css/msg.css' %}" />
    <style>
      body {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1 id="msg">{{msg1}}</h1>
    <h2>{{err}}</h2>
    <h2>{{msg2}}</h2>
    <a href="{% url modu %}">Click</a>
    <h2>Please click the home button to go to home page</h2>
    <a href="{% url 'home' %}">Home</a>
  </body>
  <script>
    if ("{{ val }}" == 0) {
      document.getElementById("msg").style.color = "red";
    }

    console.log("{{e}}");
  </script>
</html>
