{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
    <link rel="stylesheet" href="{% static 'css/stu_up.css' %}" />
    <script src="{% static 'js/student.js' %}"></script>
  </head>
  <body>
    <center>
      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'student' %}">Students</a>
        <a href="{% url 'course' %}">Course</a>
        <a href="{% url 'marks' %}">Marks</a>
        <a href="{% url 'attendance' %}">Attendance</a>
      </nav>
      <h1>Updating Student Details</h1>
      <div id="grid">
        <div id="se_cls">
          <label for="cls">Select Class : </label>
          <select name="cls" id="cls" onchange="cls_sel()">
            <option value=""></option>
            {% for c in data %}
            <option value="{{c.cls_name}}">{{c.cls_name}}</option>
            {% endfor %}
          </select>
        </div>
        <div id="fo">
          <form action="{% url 'stu_up' %}" method="post">
            {% csrf_token %}
            <input
              type="text"
              name="cls"
              id="clsname"
              placeholder="Class name"
              hidden
              required
            />
            <label for="Roll">Roll Number :</label>
            <input
              type="number"
              name="roll"
              id="Roll"
              placeholder="Roll"
              required
            />
            <input type="submit" value="Get" />
          </form>
        </div>
      </div>
    </center>
  </body>
</html>
