{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
    <link rel="stylesheet" href="{% static 'css/student.css' %}" />
    <script src="{% static 'js/student.js' %}"></script>
  </head>
  <body>
    <center>
      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'student' %}">Students</a>
        <a href="{% url 'course' %}">Course</a>
        <a href="{% url 'marks' %}">Marks</a>
        <a href="{% url 'attendance' %}">Attendance</a>
      </nav>
      <h1>Student Services</h1>
      <div id="options">
        <button onclick="a()">Register New Student</button><br />
        <button>Update Student Details</button><br />
        <button>Delete Student Details</button><br />
        <button>view Student Profile</button><br />
      </div>
    </center>
  </body>
</html>
