{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
    <link rel="stylesheet" href="{% static 'css/stu_update.css' %}" />
  </head>
  <body>
    <center>
      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'student' %}">Students</a>
        <a href="{% url 'course' %}">Course</a>
        <a href="{% url 'marks' %}">Marks</a>
        <a href="{% url 'attendance' %}">Attendance</a>
      </nav>
      <h1>Updating Student Details</h1>
      <div id="grid">
        <fieldset>
          <legend id="l1">Student Details</legend>
          <div id="fo_gr1">
            <div class="col1"><label for="sname"> Surname : </label></div>
            <div class="col2">
              <input
                type="text"
                name="surname"
                id="sname"
                value="{{data.ssname}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="lname"> Lastname : </label></div>
            <div class="col2">
              <input
                type="text"
                name="lastname"
                id="lname"
                value="{{data.slname}}"
                readonly
                required
              />
            </div>

            <div class="col1">
              <label for="gname"> Guardian’s/Father’s Name : </label>
            </div>
            <div class="col2">
              <input
                type="text"
                name="guardname"
                id="gname"
                value="{{data.gfname}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="mname"> Mother’s Name : </label></div>
            <div class="col2">
              <input
                type="text"
                name="mothername"
                id="mname"
                value="{{data.mname}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="dob"> Date-of-Birth : </label></div>
            <div class="col2">
              <input
                type="date"
                name="dob"
                id="dob"
                value="{{   data.dob|date:'Y-m-d' }}"
                readonly
                required
              />
            </div>

            <div class="col1"><label> Gender : </label></div>
            <div class="col2">
              <input
                type="text"
                name="gender"
                id="gen"
                value="{% if data.gender == 'M' %}Male{% else %}Female{% endif %}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="cno"> Contact number : </label></div>
            <div class="col2">
              <input
                type="number"
                name="cno"
                id="cno"
                value="{{data.ph_no}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="email"> Email : </label></div>
            <div class="col2">
              <input
                type="email"
                name="email"
                id="email"
                value="{{data.email}}"
                readonly
                required
              />
            </div>

            <div class="col1">
              <label for="addr"> Residential Address : </label>
            </div>
            <div class="col2">
              <input
                type="text"
                name="address"
                id="addr"
                value="{{data.addr}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="cls"> Class : </label></div>
            <div class="col2">
              <input
                type="text"
                name="class"
                id="cls"
                value="{{data.cls_name}}"
                readonly
                required
              />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend id="l2">Update Here</legend>
          <div id="fo_gr2">
            <div class="col1"><label for="sname1"> Surname : </label></div>
            <div class="col2">
              <input
                type="text"
                name="surname1"
                id="sname1"
                placeholder="please enter surname"
                value="{{data.ssname}}"
                required
              />
            </div>

            <div class="col1"><label for="lname1"> Lastname : </label></div>
            <div class="col2">
              <input
                type="text"
                name="lastname1"
                id="lname1"
                placeholder="please enter lastname"
                value="{{data.slname}}"
                required
              />
            </div>

            <div class="col1">
              <label for="gname"> Guardian’s/Father’s Name : </label>
            </div>
            <div class="col2">
              <input
                type="text"
                name="guardname"
                id="gname"
                placeholder="please enter Name"
                required
              />
            </div>

            <div class="col1"><label for="mname"> Mother’s Name : </label></div>
            <div class="col2">
              <input
                type="text"
                name="mothername"
                id="mname"
                placeholder="please enter Name"
                required
              />
            </div>

            <div class="col1"><label for="dob"> Date-of-Birth : </label></div>
            <div class="col2">
              <input
                type="date"
                name="dob"
                id="dob"
                placeholder="please Enter DOB"
                required
              />
            </div>

            <div class="col1"><label> Gender : </label></div>
            <div class="col2">
              <input
                type="radio"
                name="gender"
                id="gen"
                value="M"
                required
              />Male
              <input
                type="radio"
                name="gender"
                id="gen"
                value="F"
                required
              />Female
            </div>

            <div class="col1"><label for="cno"> Contact number : </label></div>
            <div class="col2">
              <input
                type="number"
                name="cno"
                id="cno"
                placeholder="please enter Phone numner"
                required
              />
            </div>

            <div class="col1"><label for="email"> Email : </label></div>
            <div class="col2">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="please enter email"
                required
              />
            </div>

            <div class="col1">
              <label for="addr"> Residential Address : </label>
            </div>
            <div class="col2">
              <input
                type="text"
                name="address"
                id="addr"
                placeholder="please enter address"
                required
              />
            </div>

            <div class="col1"><label for="cls"> Class : </label></div>
            <div class="col2">
              <input
                type="text"
                name="class"
                id="cls"
                placeholder="please enter the Class"
                required
              />
            </div>
          </div>
        </fieldset>
      </div>
    </center>
  </body>
</html>
