{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
    <link rel="stylesheet" href="{% static 'css/stu_update.css' %}" />
  </head>

  <body>
    <center>
      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'student' %}">Students</a>
        <a href="{% url 'course' %}">Course</a>
        <a href="{% url 'marks' %}">Marks</a>
        <a href="{% url 'attendance' %}">Attendance</a>
      </nav>
      <h1>Updating Student Details</h1>
      <div id="grid">
        <fieldset>
          <legend id="l1">Student Details</legend>
          <div id="fo_gr1">
            <div class="col1"><label for="sname"> Surname : </label></div>
            <div class="col2">
              <input
                type="text"
                name="surname"
                id="sname"
                value="{{data.ssname}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="lname"> Lastname : </label></div>
            <div class="col2">
              <input
                type="text"
                name="lastname"
                id="lname"
                value="{{data.slname}}"
                readonly
                required
              />
            </div>

            <div class="col1">
              <label for="gname"> Guardian’s/Father’s Name : </label>
            </div>
            <div class="col2">
              <input
                type="text"
                name="guardname"
                id="gname"
                value="{{data.gfname}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="mname"> Mother’s Name : </label></div>
            <div class="col2">
              <input
                type="text"
                name="mothername"
                id="mname"
                value="{{data.mname}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="dob"> Date-of-Birth : </label></div>
            <div class="col2">
              <input
                type="date"
                name="dob"
                id="dob"
                value="{{   data.dob|date:'Y-m-d' }}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="g1"> Gender : </label></div>
            <div class="col2">
              <input
                type="text"
                id="g1"
                name="gndr"
                value="{% if data.gender == 'M' %}Male{% else %}Female{% endif %}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="cno"> Contact number : </label></div>
            <div class="col2">
              <input
                type="number"
                name="cno"
                id="cno"
                value="{{data.ph_no}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="email"> Email : </label></div>
            <div class="col2">
              <input
                type="email"
                name="email"
                id="email"
                value="{{data.email}}"
                readonly
                required
              />
            </div>

            <div class="col1">
              <label for="addr"> Residential Address : </label>
            </div>
            <div class="col2">
              <input
                type="text"
                name="address"
                id="addr"
                value="{{data.addr}}"
                readonly
                required
              />
            </div>

            <div class="col1"><label for="cls"> Class : </label></div>
            <div class="col2">
              <input
                type="text"
                name="class"
                id="cls"
                value="{{data.cls_name}}"
                readonly
                required
              />
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend id="l2">Update Here</legend>
          <form id="form1" action="{% url 'stu_up' %}" method="post">
            {% csrf_token %}
            <div id="fo_gr2">
              <div class="col1"><label for="sname1"> Surname : </label></div>
              <div class="col2">
                <input
                  type="text"
                  name="surname1"
                  id="sname1"
                  placeholder="please enter surname"
                  value="{{data.ssname}}"
                  required
                />
              </div>

              <div class="col1"><label for="lname1"> Lastname : </label></div>
              <div class="col2">
                <input
                  type="text"
                  name="lastname1"
                  id="lname1"
                  placeholder="please enter lastname"
                  value="{{data.slname}}"
                  required
                />
              </div>

              <div class="col1">
                <label for="gname1"> Guardian’s/Father’s Name : </label>
              </div>
              <div class="col2">
                <input
                  type="text"
                  name="guardname1"
                  id="gname1"
                  placeholder="please enter Name"
                  value="{{data.gfname}}"
                  required
                />
              </div>

              <div class="col1">
                <label for="mname1"> Mother’s Name : </label>
              </div>
              <div class="col2">
                <input
                  type="text"
                  name="mothername1"
                  id="mname1"
                  placeholder="please enter Name"
                  value="{{data.mname}}"
                  required
                />
              </div>

              <div class="col1">
                <label for="dob1"> Date-of-Birth : </label>
              </div>
              <div class="col2">
                <input
                  type="date"
                  name="dob1"
                  id="dob1"
                  placeholder="please Enter DOB"
                  value="{{data.dob|date:'Y-m-d'}}"
                  required
                />
              </div>

              <div class="col1"><label> Gender : </label></div>
              <div class="col2">
                <input
                  type="radio"
                  name="gender"
                  id="gen1"
                  value="M"
                  required
                />Male
                <input
                  type="radio"
                  name="gender"
                  id="gen2"
                  value="F"
                  required
                />Female
              </div>

              <div class="col1">
                <label for="cno1"> Contact number : </label>
              </div>
              <div class="col2">
                <input
                  type="number"
                  name="cno1"
                  id="cno1"
                  placeholder="please enter Phone numner"
                  value="{{data.ph_no}}"
                  required
                />
              </div>

              <div class="col1"><label for="email1"> Email : </label></div>
              <div class="col2">
                <input
                  type="email"
                  name="email1"
                  id="email1"
                  placeholder="please enter email"
                  value="{{data.email}}"
                  required
                />
              </div>

              <div class="col1">
                <label for="addr1"> Residential Address : </label>
              </div>
              <div class="col2">
                <input
                  type="text"
                  name="address1"
                  id="addr1"
                  placeholder="please enter address"
                  value="{{data.addr}}"
                  required
                />
              </div>

              <div class="col1"><label for="cls1"> Class : </label></div>
              <div class="col2">
                <input
                  type="text"
                  name="class1"
                  id="cls1"
                  placeholder="please enter the Class"
                  value="{{data.cls_name}}"
                  required
                />
              </div>
              <input type="hidden" name="sid" value="{{data.id}}" />
              <input type="hidden" name="scn" value="{{data.cls_name}}" />
            </div>
          </form>
        </fieldset>
      </div>
      <input id="sub" type="submit" form="form1" value="Update" />
    </center>

    <script>
      let a = "{{data.gender}}";
      if (a === "M") {
        document.getElementById("gen1").checked = true;
      } else if (a === "F") {
        document.getElementById("gen2").checked = true;
      }
    </script>
  </body>
</html>
