body {
  background-color: rgb(219, 252, 252);
}

nav {
  background-color: aliceblue;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  font-size: 20px;
}

nav a:hover {
  border: 2px solid black;
  border-radius: 5px;
}

#grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}

#se_cls {
  margin: 5px;
  text-align: right;
  font-size: 25px;
}

#se_cls select {
  font-size: 22px;
  background-color: azure;
  font-family: "Times New Roman", Times, serif;
}

#fo {
  margin: 5px;
  text-align: left;
  font-size: 25px;
}

#fo input[type="number"] {
  height: 25px;
  width: 200px;
  font-size: 22px;
  background-color: azure;
  font-family: "Times New Roman", Times, serif;
}

input[type="submit"] {
  background-color: azure;
  font-size: 20px;
  margin: 2px;
  font-family: "Times New Roman", Times, serif;
}
