body {
  background-color: rgb(219, 252, 252);
}

nav {
  background-color: aliceblue;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  font-size: 20px;
}

nav a:hover {
  border: 2px solid black;
  border-radius: 5px;
}

form {
  width: 800px;
  font-size: 25px;
}

legend {
  font-size: 28px;
}

#fo_gr {
  display: grid;
  grid-template-columns: 400px auto;
  padding: 5px;
}

.col1 {
  text-align: right;
  padding-right: 10px;
  font-size: 28px;
}

.col2 {
  text-align: left;
  padding-left: 10px;
  font-size: 28px;
}

.col2 input {
  height: 20px;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
}

#but input {
  background-color: azure;
  font-size: 19px;
  margin: 10px;
  border-radius: 1px solid black;
  border-radius: 5px;
}
