body {
  background-color: rgb(219, 252, 252);
}

nav {
  background-color: aliceblue;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  font-size: 20px;
}

nav a:hover {
  border: 2px solid black;
  border-radius: 5px;
}

#grid {
  display: grid;
  grid-template-columns: auto auto;
}

form {
  width: 800px;
  font-size: 25px;
}

#fo_gr1 {
  display: grid;
  grid-template-columns: 350px 200px;
}

#fo_gr2 {
  display: grid;
  grid-template-columns: 400px auto;
}

.col1 {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 7px;
  font-size: 28px;
}

.col2 {
  text-align: left;
  padding-left: 10px;
  font-size: 28px;
}

.col2 input {
  height: 26px;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
}

input[type="date"] {
  width: 270px;
}

input[type="radio"] {
  vertical-align: top;
  transform: scale(1.5);
}

legend {
  margin-left: 0px;
  font-size: 25px;
}

#l2 {
  margin-left: 0px;
  font-size: 25px;
}
