body {
  background-color: rgb(219, 252, 252);
}

nav {
  background-color: aliceblue;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  font-size: 20px;
}

nav a:hover {
  border: 2px solid black;
  border-radius: 5px;
}
